{% extends 'petition/base.html' %}
{% load bootstrap %}

{% block title %}Petition: {{ petition }}, addressed to {{ petition.address_to }}{% endblock %}
{% block metadescription %}{{ petition.teaser_text }}{% endblock %}

{% block fbopengraph %}
    <meta property="og:description" content="{{ petition.teaser_text }}"/>
    <meta property="og:image" content="{{ petition.hero_image }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ petition.created_by }}"/>
{% endblock %}

{% block twittercard %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Petition: {{ petition }}, addressed to {{ petition.address_to }}">
    <meta name="twitter:description" content="{{ petition.teaser_text }}">
    <meta name="twitter:image:src" content="{{ petition.hero_image }}">
{% endblock %}

{% block content %}
<h1>{{ petition }}</h1>
<div class="row">
  <div class="col-md-8"> <!-- Main column -->
    <img id="hero-image" src="{{ petition.hero_image }}">
    <p>Created by: {{ petition.created_by }}</p>
    <p>Addressed to: {{ petition.address_to }}</p>
    <p>{{ petition.description|safe }}</p>
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-triangle-bottom"></span> Read the letter</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">{{ petition.letter|safe }}</div>
          <div class="panel-footer"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"> <!-- Right column -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ goal_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ goal_progress }}%;">
        <span class="sr-only">Complete</span>
      </div>
    </div>
    <div class="extents">
      <p class="signers">{{ petition.signatures_num }} signers</p>
      <p class="goal">goal {{ petition.goal }}</p>
      <br class="clearfix">
    </div>
    {% if signed %}
    <h2> {{ signer_name }}, thanks for signing! </h2>
    {% endif %}
    {% if not signed %}
    <h2>Sign the petition</h2>

    <form method="POST" role="form">{% csrf_token %}
      {{ signform|bootstrap }}
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>

    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <ul class="signatures" id="signatures">
    {% for signature in signatures %}
      <li class="signature">
        <h3 class="signer_name">{{ signature }}</h3>
        <p class="sign_date">{{ signature.created_date|timesince }}</p>
        <p class="signer_area">{{ signature.city }}, {{ signature.state }}</p>
        <p class="signer_comment">{{ signature.comment }}</p>
      </li>
    {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if signatures.has_previous %}
                <a href="?page={{ signatures.previous_page_number }}#signatures">previous</a>
            {% endif %}

            <span class="current">
                page {{ signatures.number }} of {{ signatures.paginator.num_pages }}
            </span>

            {% if signatures.has_next %}
                <a href="?page={{ signatures.next_page_number }}#signatures">next</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
{% endblock %}
